body {
    background-color: rgb(205, 215, 222);
    font-family: Arial,sans-serif;
}

h1{
    text-align: center;
    margin-top: 2%;
    color: rgb(8, 1, 1);
}

ul{ 
    margin: 0%;
    padding: 0%;
    display:flex;
    justify-content: center;
    list-style-type: none;
}

li{
    margin: 5%;
}

a{
    display: block;
    text-align: center;
    background-color: rgba(24, 119, 242, 1);
    color: white;
    padding: 10px 15px;
    border-radius: 10%;
    text-decoration:none;
    transition: all 0.5s ease-in-out;
}

    a:hover{
        background-color: blue;
        color: rgb(0, 0, 0);
    }

    .instagram{
        background-image:linear-gradient(to bottom, rgba(255, 0, 110, 1),
        rgba(255, 197, 0, 1),rgba(191, 0, 235, 1));
    }
    .twitter{
        background-color: rgba(29, 161, 242, 1);
        color: white
    }
   