<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página de Cadastro</title>
    <script src="vue.global.js"></script>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>

    <div id="app">
        <h1>Cadastro de novo usuário</h1>

        <form>

            <label class="labelCadastro" for="newUsername">Nome de usuário:</label>
            <input class="texto"  type="text" v-model="newUsername" required>

            <label class="labelCadastro" for="newPassword">Senha:</label>
            <input class="texto"  type="password" v-model="newPassword" required>

            <label class="labelCadastro" for="confirmPassword">Confirma Senha:</label>
            <input  class="texto" type="password" v-model="confirmPassword" required>
            
            <button class="botaoCadastro"  type ="submit" @click.prevent = "adicionarUsuario">Cadastrar</button>

        </form><!--Fechamento form-->
        
        <!-- <p>Usuário:{{username}}</p> -->
        <!-- <p>Senha: {{password}}</p> -->

        <!-- <p>Novo usuário:{{newUsername}}</p> -->

        <p class="error"  :class="{entrada: mostrarEntrada}">{{error}}</p>
        <p class="sucesso"  :class="{entrada: mostrarEntrada}">{{sucesso}}</p>

        <div class="lista">
            <button class="botaoCadastro" @click="verCadastrados">
                {{mostrarLista ? "Ocultar Lista" : "Mostrar Lista"}}
            </button>

            <!--Processo para Listar usuarios e senhas cadastrono arrays "usuario" e "senhas-->
            <ol v-if="mostrarLista">
                <li v-for="(usuario, index) in usuarios">
                    Usúario: {{usuario}}, {{senhas[index]}}
                  
                    <button class="botaoCadastro" @click ="excluirUsuario(usuario)"> Excluir </button>

                </li><!--Fechamento li-->
            </ol><!--Fechamento ol-->
        </div><!--Fechamento div secundaria-->

    </div><!--Fechamento div principal-->

    <script src="process.js"></script>
    
</body>
</html>