.error{
    color:red;
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.sucesso{
    color:rgb(52, 188, 84);
    margin-top: 10px;
    opacity: 0;
    transition: opacity 0.5s ease-in;
}

.entrada{
    opacity: 1;
}

body{
    font-family: Arial, sans-serif;
    background-color: rgb(66, 217, 228);
    margin: 0;
    padding: 20px;
}

#app{
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(30, 244, 226);
    padding: 20px;
    box-shadow: 1px 1px 10px rgb(0, 0, 0);
    border-radius: 10px;
    text-align: center;
}

h1{
    margin-top: 0;
}

form{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-radius: 10px;
    background-color: rgb(104, 245, 255);
}

label{
    margin-bottom: 10px;
}

.labelCadastro{
    display: block;
    margin-bottom: 5px;
    margin-top: 15;
}

input[type="text"], input[type="password"]{
    padding: 10px;
    border-radius: 10px;
    /* border-color: red; */
    /* border-style: solid; */
    /* border: none; */
    margin-bottom: 10px;
}

.texto{
    width: 85%;
    border: 1px solid rgb(0, 0, 0);
    font-size: 17px;


}

button{
    padding: 10px;
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 15px;
    margin-right: 10px;
    margin-top: 15px;
}


    

button:hover{
    background-color:rgb(2, 62, 2);
}

.lista{
    margin-top: 20px;
    border: 2px solid black;
    border-radius: 10px;
    padding: 16px;
    background-color: rgb(150, 253, 255);
}

    ol{
        margin-top: 10px;
        padding: 0;
        margin: 0;
        align-items: center;
        justify-items: center;
    }

    li{
        margin-bottom: 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-style: solid;
        border-color: rgb(0, 0, 0);
        padding-left: 10px;
        margin-left: 0px;
        border-radius: 10px;
    }
