img{
    width: auto;
    height: 150px;
    border: 3px solid black;
    padding: 5px;
    background-color: rgb(0, 0, 0);
    transition: transform 1s;
    border-radius: 10px;
}

img:hover{
    transform: scale(1.05);
}

body{
    font-family: Arial-sans-serif;
    background-color: rgb(7, 119, 255);
    padding: 20px;
    color: azure;
}

ul{
    list-style: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}

li{
    margin-right: 20px;
    margin-bottom: 20px;
}

a{
    color: rgb(12, 210, 180);
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

button{
    background-color: rgb(145, 167, 255);
    color: aliceblue;
    padding: 5px 10px;
    cursor: pointer;
    border-style: 100px solid;
    border-color: rgb(29, 2, 103);
    border-radius: 7px;
    margin-right: 10px;
}
button:hover{
    background-color: rgb(0, 0, 0);
}

