.calculadora{
    background-color: rgb(0, 247, 17);
    top: 50%;
    left: 50%;
    position: fixed;
    display: flex;
    border: 1px solid whitesmoke;
    transform: translate(-50%,-50%);
    font-size: 2rem;
    padding: 20px;
    border-radius: 10px;
    background-image: linear-gradient(rgb(209, 9, 9),rgb(216, 175, 42),rgb(0, 0, 0));
    flex-direction: column;
    justify-content: center;
    align-items: center;
}/*Fechamento calculadora*/

.tela{
    color: rgb(188, 4, 4);
    width: 93%;
    height: 80px;
    background-color: rgb(228, 208, 208);
    border-radius: 10px;
    /* font-size: 3rem; */
    margin-bottom: 20px;
    border: 3px solid rgb(0, 0, 0);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}/*fechamento tela*/

.linha{
    display: flex;
    flex-direction: row;
    margin-bottom: 5px;
}

.configuracaobotao{
    display: flex;
    flex-direction: column;
    align-items: center;
}/*Fechamento da configuracaobotao*/

button{
    font-size: 2rem;
    width: 80px;
    height: 80px;
    margin-right: 10px;
    border: 1px solid rgb(136, 3, 3);
    border-radius: 100px;
    cursor: pointer;
    background-color: rgb(255, 253, 253);
    color: #9e0101;
}

button:hover{
    background-color: beige;
}

button:last-child{
    margin-right: 0;
    background-color: #ffa66b;
}

.limpar{
    width: 130px;
}
